---
layout: default
---
<!-- post list -->
{% for post in paginator.posts %}
<center>{{ post.excerpt }}</center>
<h2>{{ post.title }}</h2>
<h3>ISO{{ post.iso}} <i>f/</i>{{ post.f }} {{ post.s }} • {{ post.camera}}</h3>
<br><br>
<!-- put <hr> if want a line -->
{% endfor %}

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">
      &laquo; Prev
    </a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">
      Next &raquo;
    </a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<p>manaz at mailbox dot org </p>
