$content-width: 640px;
$main: #FFA500;
$font-style: "PT Serif", serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font-color: #000000;
$light: #e7edf4;
$header: #1d1425;
