body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.0em;
  text-align: justify;
  line-height: normal;
}
h1 {
  color: $main;
  font-size: 3em;
  font-weight: normal;
  font-family: $font-style;
  text-decoration: none;
  a,
  a:visited {
    text-decoration: none;
    color: $main;
  }
}
h2 {
  font-family: $font-style;
  color: $font-color;
  font-size: 1.5em;
  margin: 0
}
h3 {
  margin: 0;
  color: $tag;
  font-family: $font-style;
  font-size: 1.0em;
  font-weight: normal;
  line-height: normal;
}

header {
  padding: 0px 10px;
  text-align: center;
}
a,
a:visited {
  color: $link-color;
  text-decoration: none;
}
a:hover {
  color: $link-hover-color;
   text-decoration: none;
}
main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}
footer {
  text-align: center;
  padding: 10px;
}
hr {
    height: 1px;
    color:  #D3D3D3;
    background-color:  #D3D3D3;
    border: none;
}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.pagination {
    text-align: center;
}

div.footnotes {
   font-size: 15px;
   margin: -10px 20px;
}

.footnotes p {
   margin: 10px;
}

a.footnote:before {
  content: "[";
}

a.footnote:after {
  content: "]";
}
