body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 640px;
  margin: auto;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

.post-divider {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.post-content {
  padding: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
}